#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  max-width: 600px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.messages-container {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img {
  width: 30px;
  border-radius: 50%;
}

input {
  flex: 1;
}

button:last-child {
  margin-left: auto;
}