#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  max-width: 600px;
  margin: 0 auto;
}

.user-info {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.avatar, .message-avatar {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.sign-out-btn {
  margin-left: auto;
}

.messages-container {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.message {
  margin: 5px;
  display: flex;
  align-items: center;
}

.message-form {
  display: flex;
}

.message-input {
  flex: 1;
  margin-right: 10px;
}